/**
 * 清除按钮激活样式
 */
html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /*清楚input蓝色边框*/
}

body {
    padding: 0;
}
.dujo-webView {
    background-color: #f5f5f5;
    -webkit-overflow-scrolling: touch; /*开启滚动回弹*/
}

.content {
    padding: 50px 0 10px 0;
}

.color-grey {
    color: #888888;
}

.color-black {
    color: #333333;
}

.text-m {
    font-size: 16px;
}

.text-s {
    font-size: 14px;
}

.line {
    border-color: #cccccc;
}

.text-l {
    font-size: 18px;
}

header {
    position: absolute;
    height: 50px;
    overflow: hidden;
    z-index: 3;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    line-height: 50px;
    background-color: #fba74d;
    top: 0;
    left: 0;
    right: 0;
}
#dujo-toast-container {
    z-index: 100;
    font-size: 13px;
    position: fixed;
    bottom: 75px;
    left: 50%;
    border-radius: 3px;
    background-color: #111;
    padding: 8px 15px;
    text-align: center;
    opacity: .9;
    color: #fff;
    overflow: hidden;
    word-wrap: normal;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 160px;
}
.back-button{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 30px;
    height: 100%;
    background: url("../img/back.png") no-repeat center;
    background-size: 100% ;
}
.back-button:active{
    background: url("../img/back-active.png") no-repeat center;
    background-size: 100% ;
}
.button {
    text-align: center;
    display: block;
    color: #ffffff;
    line-height: 2.4;
    border-radius: 4px;
}
.button-dkyellow{
    background-color: #e99b47;
}
.button-dkyellow:active {
    background-color: #fba74d;
}
.button-green{
    background-color: #4eb948;
}
.button-green:active {
    background-color: #57cd4f;
}
.button-grey {
    background-color: #959ba3;
}

.button-grey:hover {
    background-color: #82878e;
}
/*t弹出框*/
.pop-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    opacity: 0.5;
    z-index: 2;
}

.pop-container {
    transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
    opacity: 0;
    -webkit-opacity: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

.pop-container-animate {
    transition-property: left, top, opacity, -webkit-opacity, -moz-opacity, -o-opacity, Transform, -webkit-Transform, -o-Transform, -moz-Transform;
    transition-duration: .3s;
    transition-timing-function: ease;
}
.page-load{
    background-color:#f5f5f5 ;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
}
.page-load .spinner {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 50%;
    top: 50%;
    margin-top: -30px;
    margin-left: -30px;
    -webkit-animation: rotateplane 1.2s infinite ease-in-out;
    animation: rotateplane 1.2s infinite ease-in-out;
    background-color: #fba74d;
}
.spinner {
    width: 60px;
    height: 60px;
}

@-webkit-keyframes rotateplane {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    } 50% {
          transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
          -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
      } 100% {
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        }
}
/*流式布局*/
.row {
    display: -moz-box; /* Firefox */
    display: -webkit-box; /* Safari and Chrome */
}

.row .column {
    display: block;
}

.row .column-auto {
    display: block;
    -webkit-box-flex: 1;
}

.blocks {
    overflow: hidden;
}

.blocks .block {
    display: block;
    float: left;
}

.confrim {
    border-radius: 5px;
    min-width: 270px;
    padding-bottom: 10px;
    background-color: white;
    overflow: hidden;
}

.confrim .title {
    padding: 0 15px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    color: #666666;
    background-color: #ececec;
    border-bottom: 1px solid #d8d8d8;
}

.confrim .info {
    height: 75px;
    position: relative;
}

.confrim .info .icon {
    position: absolute;
    top: 20px;
    left: 30px;
    width: 30px;
    height: 30px;
    background: url(../img/icon-question.png) no-repeat;
    background-size: 100% 100%;
}

.confrim .info .success {
    position: absolute;
    top: 15px;
    left: 14px;
    width: 49px;
    height: 49px;
    background: url(../img/icon-success.png) no-repeat;
    background-size: 100% 100%;
}

.confrim .info .warning {
    background: url(../img/icon-warning.png) no-repeat;
    background-size: 100% 100%;
}

.confrim .info .question {
    background: url(../img/icon-question.png) no-repeat;
    background-size: 100% 100%;
}

.confrim .info .fail {
    background: url(../img/icon-fail.png) no-repeat;
    background-size: 100% 100%;
}

.confrim .info .text {
    padding: 26px 34px 0 86px;
    font-size: 16px;
}

.confrim .btn {
    width: 70px;
    height: 34px;
    line-height: 34px;
}

.confrim .ok {
    margin-left: 30px;
}